---

---

<span class="text">
    <span class="highlight"></span>
</span>


<script>
    import Typed from "typed.js";

    // TExto multile dinmico
    document.addEventListener("astro:page-load", () => {
        new Typed(".highlight", {
            strings: ["Diseño Web", "Desarrollo Web", "Programación","HTML y CSS", "JavaScript", "Python", "Golang", "Java"],
            typeSpeed: 100,
            backSpeed: 100,
            backDelay: 1000,
            loop: true,
        });
    });
</script>

