/* Variables de colores
============================================*/
:root {
	--color-slate-50: #f8fafc;
	--color-slate-100: #f1f5f9;
	--color-slate-200: #e2e8f0;
	--color-slate-300: #d1d5db;
	--color-slate-400: #9ca3af;
	--color-slate-500: #64748b;
	--color-slate-600: #475569;
	--color-slate-700: #334155;
	--color-slate-800: #1e293b;
	--color-slate-900: #0f172a;
	--color-slate-950: #020617;

	/* Color Emerald */
	--color-emerald-300: #6ee7b7;
	--color-emerald-400: #34d399;
	--color-emerald-500: #10b981;
	--color-emerald-600: #059669;
	--color-emerald-700: #047857;
	--color-emerald-800: #065f46;

}


/*Configuraciones iniciales
============================================*/
html{
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body {
	font-family: 'Inter Variable', sans-serif;
	font-size: 1.4rem;
	line-height: 1.6;
	color: var(--color-slate-950);
	background-color: var(--color-slate-50);
}

@media (min-width: 768px){
	body{
		font-size: 1.6rem;
	}
}

h1{
	font-size: 3.5rem;
}

@media (min-width: 768px){
	h1{
		font-size: 4.2rem;
	}
	
}

h2{
	font-size: 2.9rem;
}

@media (min-width: 768px){
	h2{
		font-size: 3.5rem;
	}
}

h3{
	font-size: 2.4rem;
}

@media (max-width: 768px){
	h3{
		font-size: 2.9rem;
	}
}
