---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="404 | Está página no funciona" description="">
  <section class="page_404 p-3 my-10">
    <div class="container mx-auto">
      <div class="text-center">
        <div class="four_zero_four_bg">
          <h1 class="text-center text-9xl font-bold">404</h1>
        </div>

        <div class="">
          <h3 class="mb-4"> ¡Estas perdido! </h3>

          <p class="mb-5">Está página no funciona, puedes regresar a inicio para que sigas navengando.</p>

          <a href="/" class="btn-primary">Regresar a Inicio</a>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  /*======================
    404 page
=======================*/
  .page_404 img {
    width: 100%;
  }

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

</style>
