---
import SocialMedia from "@/components/SocialMedia.astro";

const today = new Date();
---

<footer class="bg-gray-900 py-10">
	<div class="mycontainer">
		<div class="flex justify-center gap-3 mb-5">
			<SocialMedia />
		</div>
		<p class="text-center text-gray-300">
			&copy; {today.getFullYear()} Roelcode.com casi todos los derechos resevados.
		</p>
	</div>
</footer>
