---
import { getCollection } from "astro:content";
import CourseCard from "../components/CourseCard.astro";

const popularCourses = await getCollection(
  "udemyCourses",
  (course) => course.data.popular === true
);
---

<section class="py-16 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-bold text-emerald-700 mb-8 text-center">
      Cursos Más Populares
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {popularCourses.map((course) => <CourseCard course={course} />)}
    </div>
  </div>
</section>
