---
import BaseHead from "@/components/BaseHead.astro";
import NavBar from "@/components/NavBar.astro";
import Footer from "@/sections/Footer.astro";
import ButtonScroll from "@/components/ButtonScroll.astro";
import { ClientRouter } from "astro:transitions";

const { title, description, image = '/open-graph-reolcode.jpg' } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <script is:inline>
      // Ejecutar esto lo antes posible para evitar parpadeo
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
    
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <script src="../scripts/theme-toggle.js"> </script>

    <ClientRouter />

  </head>
  <body>
    <header>
      <NavBar />
    </header>

    <slot />

    <Footer />

    <!-- Botón de Scroll con Progreso -->
    <ButtonScroll />

    <script src="../scripts/copy-btn.js"></script>
  </body>
</html>

