---
import BaseHead from "@/components/BaseHead.astro";
import NavBar from "@/components/NavBar.astro";
import Footer from "@/sections/Footer.astro";

const {title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <BaseHead title={title} description={description} />
</head>
<body>
    <header>
        <NavBar />
    </header>

    <slot />

    <Footer />

    <script src="../scripts/copy-btn.js"></script>
</body>
</html>